.navbar {
	background-color: #f73859;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
}

.navbar > p {
	cursor: pointer;
}

.avatar:hover {
	cursor: pointer;
}

.userAvatar {
	position: absolute !important;

	right: 14%;
}

.link {
	text-decoration: none;
	color: black;
	transition: all 0.5s;
	cursor: pointer;
}
.link:nth-child(1) {
	margin-left: 90px;
}
/* .link:last-child {
	margin-right: 90px;
} */

.link:hover {
	color: black !important;
	opacity: 0.5;
}
.ringLogo {
	width: 35px;
	height: 35px;
	margin-left: 19px;
	cursor: pointer;
}

.menu {
	visibility: hidden !important;
	cursor: pointer;
}

#menuWindow {
	width: 100%;
	height: 100vh;
	background-color: rgb(240, 243, 82);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: -100%;

	z-index: 10;
	display: none;
	transition: all 0.3s;
}
.userMenu {
	display: flex;
	justify-content: center;
	align-items: center;
}
.linkMenu {
	text-decoration: none;
	color: black;
	transition: all 0.5s;
	cursor: pointer;
	margin-bottom: 10px;
}

.linkMenu:hover {
	color: black !important;
	opacity: 0.5;
}
.userMenu > .avatarMenu {
	margin-right: 7px;
}

.closeMenu {
	position: absolute;
	top: 10px;
	left: 7px;
	cursor: pointer;
}

@media (max-width: 1171px) {
	.link {
		display: none;
	}
	.avatar {
		display: none !important;
	}
	.userAvatar {
		display: none !important;
	}

	.menu {
		margin-right: 19px;
		visibility: visible !important;
	}
}
